# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Environment Variables
.env

# Python cache
.pytest_cache/
.mypy_cache/

# Build files
build/
dist/
*.egg-info/
data/raw/postings.csv